<header>
  <nav id="navbar">
    <p>Create a story</p>
    <i class="fa-solid fa-book-open-reader"></i>
    <div class ='user'>
      <div >
        <i class="fa-sharp fa-solid fa-right-to-bracket"></i>Sign Up </div>
      <div><i class="fa-solid fa-key"></i>Login</div>
    </div>
  </nav>

</header>
