<header>
  <nav id="navbar">
    <p>Create a story</p>
    <a href="/">
    <i class="fa-solid fa-book-open-reader"></i></a>
    <div class ='user'>
      <div >
        <a href="/register">
        <i class="fa-sharp fa-solid fa-right-to-bracket"></i>Sign Up </div></a>
        <a href="/login"><div><i class="fa-solid fa-key"></i>Login</div></a>
    </div>
  </nav>

</header>
