<header>
  <nav id="navbar">
    <a id = "left-menu" href="/creation"><i class="fa-regular fa-pen-to-square"></i>
      Create a story</a>
    <a class = 'toggle-button'><i class="fa-solid fa-bars"></i></a>

      <ul class="mobile-menu">
        <li><a href="/register">
          <i class="fa-sharp fa-solid fa-right-to-bracket"></i>Sign Up </a></li>
       <li><a href="/login"><div><i class="fa-solid fa-key"></i>Login</div></a></li>
        <li><a href="/"><i class="fa-regular fa-pen-to-square"></i>
          Create a story</a></li>
      </ul>
    </div>
    <a class="logo" href="/">
    <i class="fa-solid fa-book-open-reader"></i></a>
    <div id ='right-menu'>
      <div>
        <a href="/register">
        <i class="fa-sharp fa-solid fa-right-to-bracket"></i>Sign Up </div></a>
        <a href="/login"><div><i class="fa-solid fa-key"></i>Login</div></a>
    </div>
  </nav>

</header>
