<header id="navbar">
  <nav >
    <div id = "left-menu">
       <!-- menu changes depending on if a user is logged in or not -->
      <% if(typeof userByID !== 'undefined'){ %>
      <p><i class="fa-solid fa-id-badge"></i><%= userByID.name %> </p>
      <% }  %>
    <a  href="/creation"><i class="fa-regular fa-pen-to-square"></i>
      Create a story</a>



  </div>
  <a class = 'toggle-button'><i class="fa-solid fa-bars"></i></a>

      <ul class="mobile-menu">
        <% if(typeof userByID !== 'undefined'){ %>
          <li><p><i class="fa-solid fa-id-badge"></i><%= userByID.name %> </p></li>
          <li><a  href="/">
            <i class="fa-solid fa-house-chimney"></i>Home</a></li>
          <li><a href="/mystories">
            <i class="fa-solid fa-book"></i>My Stories</a></li>
            <li><a href="/creation"><i class="fa-regular fa-pen-to-square"></i>
              Create a story</a></li>
          <li><form class="form-inline" action="/logout" method="POST">
            <div class="form-group mb-2">
              <button type="submit" id="logout-button" class="btn btn-primary"><i class="fa-solid fa-arrow-right-from-bracket"></i>logout</button></li>
          <% } else{ %>
              <li><a  href="/">
              <i class="fa-solid fa-house-chimney"></i>Home</a></li>
              <li><a href="/register">
              <i class="fa-sharp fa-solid fa-right-to-bracket"></i>Sign Up </a></li>

       <li><a href="/login"><div><i class="fa-solid fa-key"></i>Login</div></a></li>
       <li><a href="/creation"><i class="fa-regular fa-pen-to-square"></i>
        Create a story</a></li>
       <% } %>

      </ul>

      <a href="/"><img src="/img/logo.png"/></a>
    <% if(typeof userByID !== 'undefined'){ %>


      <div id ='right-menu'>

      <a href="/mystories">
        <i class="fa-solid fa-book"></i>My Stories</a>
      <form class="form-inline" action="/logout" method="POST">
        <div class="form-group mb-2">
          <button type="submit" id="logout-button" class="btn btn-primary"><i class="fa-solid fa-arrow-right-from-bracket"></i>logout</button>
        </div>
      </form>
    </div>
    <% } else{ %>
      <div id ='right-menu'>
        <div>
          <a href="/register">
          <i class="fa-sharp fa-solid fa-right-to-bracket"></i>Sign Up </div></a>
          <a href="/login"><div><i class="fa-solid fa-key"></i>Login</div></a>
      </div>
   <% } %>
   <i  id ='top'class="fa-solid fa-circle-arrow-up"></i>
  </nav>

</header>
