<!DOCTYPE html>
<html lang="en">
  <head>
    <!--meta info-->
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/nav.scss" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:wght@400;900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/64e7347985.js" crossorigin="anonymous"></script>
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/mobile-button.js"></script>
    <script defer src="/scripts/counter.js"></script>
    <title>Story Creater</title>
  </head>
  <body>
    <%- include('partials/nav') %>
    <main>
    <article class = 'story'>
      <h1>Sample Story</h1>
      <h3>January 2nd</h3>
       <!-- it should have a link so when you click -->
      <h2 class="username">Charlie C</h2>
    <p>It would be impossible to have a list of Black sci-fi authors without including Octavia E. Butler. By 1976 she was the most prolific Black woman novelist in North America. She started writing science fiction after watching a movie called “Devil Girl from Mars,” and realizing that she could contribute more to the sci-fi genre than that. Mind of My Mind pits 21-year-old Mary against a millennia-old immortal with the power to steal anyone’s body. This immortal, Doro, cannot be killed, and commands a network of telepaths who have no choice but to serve him or die. Mary is one of these telepaths, and has been raised knowing Doro would decide the course of her life. When her telepathic ability reaches maturity, she is expected to marry and produce offspring who will hopefully also be successful telepaths. But there is only so much that someone can obey.
With a little less than 200 pages, Butler weaves together a powerful story at a thrillingly swift pace. The world of the novel is complicated, yet is artfully explained with thorough imagery to allow the sci-fi concepts to sink in.</p>
</article>

<form id="add-form" method="POST" action="/additions" >

  <textarea placeholder="Write a story" name="text" id="add-text"></textarea>
  <div>
    <button class="add-button" type="submit">Post Story</button>
    <output name="counter" class="counter" for="add-text">1000</output>
  </div>
</form>
<section class="additions">

  <article class = 'addition-story'>
    <p class="username">Anders F</p>
    <p>21-year-old Mary against a millennia-old immortal with the power to steal anyone’s body. This immortal, Doro, cannot be killed, and commands a network of telepaths who have no choice but to serve him or die. Mary is one of these telepaths, and has been raised knowing Doro would decide the course of her life. When her telepathic ability reaches maturity, she is expected to marry and produce offspring who will hopefully also be </p>
  </article>
</section>
</main>
  </body>
</html>
