<!DOCTYPE html>
<html lang="en">
  <head>
    <!--meta info-->
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/nav.scss" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:wght@400;900&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/64e7347985.js" crossorigin="anonymous"></script>
    <script src="/vendor/jquery-3.0.0.js"></script>


    <title>Story Creater</title>
    <meta id="add-id" content=<%= id %>>
    <meta id="user-id" content=<%= userByID %>>




  </head>
  <body>
    <%- include('partials/nav') %>
    <main>

<form id="add-form" method="POST" action="/additions/<%= id %>" >

  <textarea placeholder="Add to story" name="addition" id="add-text"></textarea>
  <div>
    <button class="add-button" type="submit">Post Story</button>
    <output name="counter" class="counter" for="add-text">1000</output>
  </div>
  <div class="error">
    <i class="fa-solid fa-triangle-exclamation"></i>
    <p></p>
    <i class="fa-solid fa-triangle-exclamation"></i>
  </div>
</form>
<section id="additions-container">

</section>
</main>
  </body>
  <script defer src="/scripts/counter.js"></script>
  <script defer src="/scripts/mobile-button.js"></script>
  <script defer src="/scripts/navbar.js"></script>
  <script defer src="/scripts/display-additions.js"></script>
  <script defer src="/scripts/addition-form-submit.js"></script>

  <!-- <script>
    const button=document.querySelector(".like-button")
    button.addEventListener("click", (e) => {
      console.log("ABC");
      $.ajax({
        method: "GET",
        url: "http://localhost:8080/additions/likes/1",
        //dataType: JSON,
        success: function(data) {
          const {count} = data;
          console.log(e);
          $(".like-button").text(Number(count) + 1);
          console.log("DATA IS HERE:", data);
        }
      })
    })
  </script> -->
</html>
