
$white :  #F7F7FF;
$tuscany :#C49991;
$tuscany-dark:#886963;
$blue : #279AF1;
$grey : #60656F;
$black : #131112;
$red : #d40f0f;
$sub-font: 'Open Sans', sans-serif;
$main-font: 'Playfair Display', serif;

main{
  color :$black;
  background-color: $white;
  margin: 0;
  padding:6rem 3rem 3rem 3rem;
  width:100vw;
  height: calc(100vh - 5rem);
}
button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
a{
  text-decoration: none;
  color: inherit;
}
h1{
  margin:0
}
.username{
  color: $blue;
}
header{
  background-color:$grey;
  padding: 0 2rem;
  width: 100vw;
  position: fixed;
  top: 0;
  transition: top 0.3s;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center ;
  width: 100%;
  height : 5rem;
  font-family: $main-font;
  font-size: 16;
  color: $white;

}
#top{
  position :fixed;
  opacity: 50%;
  bottom: 10%;
  right: 10%;
  color: $black;
  display: none;
  font-size: 2rem;
}

nav a:hover{
  color: #279AF1;
}
#right-menu{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
#right-menu > *:not(:last-child){
  margin-right: 2rem;
}
nav i{
  margin-right: 1rem;
}
.toggle-button{
  display: none;
}
.mobile-menu{
   display: none;
   list-style: none;
   z-index:10;
}
#logout-button{
  background: $grey;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;

}
#logout-button:hover{
  color: $blue;
}
::placeholder{
  opacity: attr();
}
.story .title:hover{
  color: $grey;
 }
#add-form{
  margin-top: 5rem;
}
#add-form div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#add-text{
  width:100%;
  height: 8rem;
  margin-bottom: 0.5rem;
  border:none;
  border-bottom: 4px solid $grey;
  background-color: $white;
  font-family: $sub-font;
}
#add-text:hover{
  border-color: $black;
}
#add-text:focus{
  border-color: $blue;
}

.add-button{
  font-family: $main-font;
  color :$black;
  background-color:$tuscany ;
  width: 10%;
  height: 2rem;
  border:none;
  border-radius:5em;
}
.add-button:hover{
  background-color: $tuscany-dark;
}
.like-button{
  margin-right: 1em;
}
.like-button i:hover{
  color: $blue;
}
.like-count{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-family: $sub-font;
  font-weight: 200;

}
.over-counter{
  color:$red;
 }

.counter{
  font-family: $main-font;
  font-size: large;
}
textarea {
  outline: none;
}
#create-form {
  display: flex;
  align-items:baseline;
  flex-direction: column;
  width:100%;
  height:100%;
  margin-top: 5em;
}
#create-form textarea{
  border: 1px solid $grey;
}
#create-form textarea:hover{
  border: 1.5px solid $black;
}
#create-form textarea:focus{
  border: 1px solid $blue;
}
#create-form label{
  font-family: $main-font;
  font-size: 2em;
  font-weight: 700;
}

#create-story{
  height: 15rem;
}
#create-form textarea{
  width:50%;
  margin: 3rem;
}
.create-button{
  font-family: $main-font;
  color :$black;
  background-color:$tuscany ;
  width: 10%;
  height: 2rem;
  border:none;
  border-radius:5em;
}
.create-button:hover{
  background-color: $tuscany-dark;
}

.like-div{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#account{
  font-family: $main-font;
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: $tuscany;
  width :40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  border-radius: 1em;
}
#account button{
  margin-bottom: 5em;
  margin-top: 5em;
  border-radius: 5em;
  width:20em;
  height: 2em;
  background: $grey;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;

}
#account button:hover{
  border: 2px solid  $black;
}

#account input{
  border: 1px solid $black;
  outline: none;
  border-radius: 0.5em;
  height:2em
}
#account input:hover{
  border:2px solid $black;
}
#account input:focus{
  border: 1px solid $blue;
}
#account label{
  font-family: $sub-font;
  font-size: 1.5rem;
  margin-top: 2em;
}
#account div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error>i{
  margin:0px 10px;
 }
 .error{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width:100%;
  color:$red;
  // border: 2px solid $black;
 }
 #like-error>i{
  margin:0px 10px;
 }
 #like-error{
  position: fixed;
  bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: $white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width:50%;
  color:$red;
  // border: 2px solid $black;
 }
.like-add{
  margin-left : 1.5rem;
  color: $grey;
}
.like-add i:hover{
  color: $blue;
}
@media only screen and (max-width: 1024px)  {
  ::-webkit-input-placeholder{
    opacity: 0;
  }
  #account{
    background-color: $white;
  }
  #account input{
    outline: auto;
  }
  #right-menu{
    display:none
  }
  #left-menu{
    display:none
  }
  .toggle-button{
    display: block;
  }
  .logo{
    margin-right: 50%
  }
  .mobile-menu li{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .mobile-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 5rem;
    margin: 0;
    padding: 0;
    background-color: $grey;
    height: calc(100vh - 7rem);
    width: 50vw;
    transition: all 0.3s ease-in-out;
    transform:translateX(-100%) ;
  }


  .mobile-menu.active{
    transform:translateX(0) ;
  }
}
