
$white :  #f6f7f8;
$middle-red :#F78E69;
$light:#49DCB1;
$lighter:#69f9ce;
$yellow : #F1BB87;
$blue : #456990;
$black : #011627;
$red : #d40f0f;
$temp-gray :rgb(83, 100, 113);
$sub-font: 'Open Sans', sans-serif;
$main-font: 'Playfair Display', serif;
*{
  font-family: $sub-font
}
img{
  width: 150px;				/* width of image (px or % or auto) */
  height: auto;
}
main{
  color :$black;
  background-color: $white;
  margin: 0;
  padding:6rem 3rem 3rem 3rem;
  width:100vw;
  height: calc(100vh - 5rem);
}
button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
a{
  text-decoration: none;
  color: inherit;
}
h1{
  margin:0
}
.username{
  color :$temp-gray
}
header{
  background-color:$blue;
  padding: 0 2rem;
  width: 100vw;
  position: fixed;
  top: 0;
  transition: top 0.3s;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center ;
  width: 100%;
  height : 5rem;
  font-family: $main-font;
  font-size: 16;
  color: $white;

}

#top{
  position :fixed;
  opacity: 50%;
  bottom: 10%;
  right: 10%;
  color: $black;
  display: none;
  font-size: 2rem;
}

nav a:hover{
  color: $middle-red;
}
#right-menu{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
#right-menu > *:not(:last-child){
  margin-right: 2rem;
}
#left-menu{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
#left-menu > *:not(:last-child){
  margin-right: 2rem;
}

nav i{
  margin-right: 1rem;
}
.toggle-button{
  display: none;
}
.mobile-menu{
   display: none;
   list-style: none;
   z-index:10;
}
#logout-button{
  background: $blue;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;

}
#logout-button:hover{
  color: $middle-red;
}
::placeholder{
  opacity: attr();
}
.story{
  margin-top:3rem;
  margin-bottom: 5rem;
}
.story .title:hover{
  color: $middle-red;
 }
 .story-title{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#add-form{
  margin-top: 5rem;
}
#add-form div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
hr.solid {
  border-top: 3px solid #bbb;
}
#add-text{
  width:100%;
  height: 8rem;
  margin-bottom: 0.5rem;
  border:none;
  border-bottom: 4px solid $blue;
  background-color: $white;
}
.add-comment-title{
  margin-top: 5rem;
  margin-bottom: 0;
  font-weight: 100;
  font-family: $main-font;
  text-decoration: underline;
  color: $blue
}
#add-text:hover{
  border-color: $black;
}
#add-text:focus{
  border-color: $light;
}

.add-button{
  font-family: $main-font;
  color :$black;
  background-color:$light ;
  width: 10%;
  height: 2rem;
  border:none;
  border-radius:5em;
}
.add-button:hover{
  // change this make it lighter
  background-color: $lighter;
}
.addition-story{
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.like-button{
  margin-right: 1em;
}
.like-button i:hover{
  color: $light;
}
.like-count{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  font-weight: 200;

}
.over-counter{
  color:$red;
 }

.counter{
  font-family: $main-font;
  font-size: large;
}
textarea {
  outline: none;
}
#create-form {
  display: flex;
  align-items:center;
  flex-direction: column;
  width:100%;
  height:100%;
  margin-top: 5em;
}
#create-form textarea{
  border: 1px solid $blue;
}
#create-form textarea:hover{
  border: 1.5px solid $black;
}
#create-form textarea:focus{
  border: 1px solid $light;
}
#create-form label{
  font-family: $main-font;
  font-size: 2em;
  font-weight: 700;
}

#create-story{
  height: 15rem;
}
#create-form textarea{
  width:50%;
  margin: 3rem;
}
.create-button{
  font-family: $main-font;
  color :$black;
  background-color:$light;
  width: 10%;
  height: 2rem;
  border:none;
  border-radius:5em;
}
.create-button:hover{
  background-color: $lighter;
}

.like-div{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#account{
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: $middle-red;
  width :40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  border-radius: 1em;
}
#account button{
  margin-bottom: 5em;
  margin-top: 5em;
  border-radius: 5em;
  width:20em;
  height: 2em;
  background: $yellow;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;

}
#account h1{
  margin-top: 2em;
}
#account button:hover{
  border: 2px solid  $black;
}

#account input{
  border: 1px solid $black;
  outline: none;
  border-radius: 0.5em;
  height:2em
}
#account input:hover{
  border:2px solid $black;
}
#account input:focus{
  border: 1px solid $blue;
}
#account label{
  font-size: 1.5rem;
  margin-top: 2em;
}
#account div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error>i{
  margin:0px 10px;
 }
 .error{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width:100%;
  color:$red;
  // border: 2px solid $black;
 }
 #like-error>i{
  margin:0px 10px;
 }
 #like-error{
  position: fixed;
  bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: $white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width:50%;
  color:$red;
  // border: 2px solid $black;
 }
.like-add{
  margin-left : 1.5rem;
  color: $blue;
}
.like-add i:hover{
  color: $middle-red;
}
.my-story-title{
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.my-story-title ,.title,.title-add{
  font-family: $main-font;
  color:  $blue;
}
.progress{
  color:$black
}
.progress :hover{
  color:  $blue;
}
.completed{
  color: $blue
}

@media only screen and (max-width: 1024px)  {
  nav{
    justify-content: flex-start;
  }
  ::-webkit-input-placeholder{
    opacity: 0;
  }
  #account{
    background-color: $white;
  }
  #account input{
    outline: auto;
  }
  #right-menu{
    display:none
  }
  #left-menu{
    display:none
  }
  .toggle-button{
    display: block;
    color: $white;
  }
  .logo{
    margin-right: 50%
  }
  .mobile-menu li{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .mobile-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 5rem;
    margin: 0;
    padding: 0;
    background-color: $blue;
    height: calc(100vh - 7rem);
    width: 50vw;
    transition: all 0.3s ease-in-out;
    transform:translateX(-100%) ;
  }


  .mobile-menu.active{
    transform:translateX(0) ;
  }
}
