
$white :  #F7F7FF;
$tuscany :#C49991;
$tuscany-dark:#886963;
$blue : #279AF1;
$grey : #60656F;
$black : #131112;
$sub-font: 'Open Sans', sans-serif;
$main-font: 'Playfair Display', serif;

main{
  color :$black;
  background-color: $white;
  margin: 0;
  padding:3rem 3rem;
  width:100vw;
  height: calc(100vh - 5rem);
}

h1{
  margin:0
}
.username{
  color: $blue;
}
header{
  background-color:$grey;
  padding: 0 2rem;
}
#navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center ;
  width: 100%;
  height : 5rem;
  font-family: $main-font;
  font-size: 16;
  color: $white;

}
#navbar a{
  text-decoration: none;
  color: inherit;
}
#navbar a:hover{
  color: #279AF1;
}
#right-menu{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
#right-menu > *:not(:last-child){
  margin-right: 2rem;
}
#navbar i{
  margin-right: 1rem;
}
.toggle-button{
  display: none;
}
.mobile-menu{
   display: none;
   list-style: none;
}
#add-form{
  margin-top: 5rem;
}
#add-form div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#add-text{
  width:100%;
  height: 8rem;
  margin-bottom: 0.5rem;
  border:none;
  border-bottom: 5px solid $grey;
  background-color: $white;
  font-family: $sub-font;
}
.add-button{
  font-family: $main-font;
  color :$black;
  background-color:$tuscany ;
  width: 10%;
  height: 2rem;
  border:none;
  border-radius:5em;
}
.add-button:hover{
  background-color: $tuscany-dark;
}
.over-counter{
  color:red;
 }
.counter{
  font-family: $main-font;
  font-size: large;
}
textarea {
  outline: none;
}
#create-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width:100%;
  height:100%
}
#create-story{
  height: 15rem;
}
#create-form textarea{
  width:50%;
  margin: 3rem;
}
.create-button{
  font-family: $main-font;
  color :$black;
  background-color:$tuscany ;
  width: 10%;
  height: 2rem;
  border:none;
  border-radius:5em;
}
.create-button:hover{
  background-color: $tuscany-dark;
}
@media only screen and (max-width: 1024px)  {

  #right-menu{
    display:none
  }
  #left-menu{
    display:none
  }
  .toggle-button{
    display: block;
  }
  .logo{
    margin-right: 50%
  }
  .mobile-menu li{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $black;
  }
  .mobile-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 5rem;
    margin: 0;
    padding: 0;
    background-color: $grey;
    height: calc(100vh - 7rem);
    width: 50vw;
    transition: all 0.3s ease-in-out;
    transform:translateX(-100%) ;
  }


  .mobile-menu.active{
    transform:translateX(0) ;
  }
}
